/* * {
  border: 0.5px solid black;
} */

header{
  height: 7em;
}

.winner-img{
  text-align: center;
}

#winner-img {
  height: 500px;
  border: 2px solid azure;
  border-radius: 15px;
}

.answers {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.hint {
  display: flex;
  justify-content: space-around;
  height: 3em;
}

button {
  color: white;
  font-weight: bold; 
  background-color: rgb(45, 90, 150);
  height: 5em;
  width: 15em;
  border-radius: 1em;
}

h3 {
  color: white;
  font-weight: bold; 
  height: 2em;
  width: 15em;
  text-align: center
}

.answers * {
  text-transform: uppercase;
}